@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

body {
  background-color: lightblue;
  display: flexbox;
  flex-direction: row;
  align-items: center;
}
#welcome-section{
  height: 100vh;
}

#navbar {
  position: fixed;
  top: 0px;
  display: flex;
justify-content: center;
}

#welcome-section{
  top: 20vh;
}

